#bg {
    background-image: url('../images/BG.png');
    background-size: cover;
    background-position: center;
}

.window {
    top: auto;
    left: auto;
    max-height: 60vh;
}

.text-up {
    text-transform: capitalize;
}

/*ICONS*/
.max-height-64 {
    max-height: 64px;
}